.header {
  width: 100%;
  min-height: 70px;
  padding-left: 15%;
  padding-right: 15%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  background-color: aquamarine;
}
.headerLeft {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerLeft .headerLogo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*---------------------------------------*/

.headerRight {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .acountButton {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .writeCommentButton {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  padding: 12px;
  border-radius: 15px;
  color: var(--white);
  cursor: pointer;
}
